.bgBlue{
    background-color: #455979 !important;
}
.bgBlueFade{
    background-color: #4559797d !important;
}
.bgCream{
    background-color: #FDF2DF !important;
}
.bgCreamFade{
    background-color: #fdf2df89 !important;
}
.blueText{
    color: #455979 !important;
}
.creamText{
    color: #FDF2DF !important;
}